* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar-logo:hover {
  text-decoration: none;
}

.reports-chart,
.about-section {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 91vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reports-chart {
  background-image: url("/images/img-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-section {
  background: url("/images/img-home.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 1000px tgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1000px tgba(0, 0, 0, 0.2);
  -o-object-fit: contain;
     object-fit: contain;
  color: #802424;
  font-size: 20px;
}

.myImgItself {
  width: 400px;
}

.sign-up, .log-in, .forgot-password {
  background-image: url("/images/img-9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 91vh;
}

.login-header, .signup-header, .reset-header {
  font-family: 'Langar', cursive;
  color: #388b28;
}

.sign-up-link, .forgot-pwd-link, .login-link {
  color: #20a520;
}

.sign-up-link:hover, .forgot-pwd-link:hover {
  color: #be2222;
}

.invalid-login-entry-error {
  color: #df1d1d;
}
