* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar-logo:hover {
  text-decoration: none;
}

.reports-chart {
  margin: 0;
  display: flex;
  min-height: 91vh;
  align-items: center;
  justify-content: center;
}

.reports-chart {
  background-image: url("/images/img-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up, .log-in, .forgot-password {
  background-image: url("/images/img-9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 91vh;
}

.login-header, .signup-header, .reset-header {
  font-family: 'Langar', cursive;
  color: rgb(56, 139, 40);
  font-size: 4rem;
}

.sign-up-link, .forgot-pwd-link, .login-link {
  color: rgb(32, 165, 32);
}

.sign-up-link:hover, .forgot-pwd-link:hover {
  color: rgb(190, 34, 34);
}

.invalid-login-entry-error {
  color: rgb(223, 29, 29);
}